 <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>important_devices</mat-icon>
      <div mat-line><a [routerLink]="'./content/test'">{{'test-page'}}</a></div>
    </mat-list-item>
    <div mat-subheader></div>
    <mat-list-item>
      <mat-icon mat-list-icon>camera</mat-icon>
      <div mat-line><a [routerLink]="'./content/all'">{{'همه'}}</a></div>
    </mat-list-item>
  
    <mat-list-item>
      <mat-icon mat-list-icon>music_video</mat-icon>
      <div mat-line><a [routerLink]="'./content/music'">{{'موسیقی'}}</a></div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>ondemand_video</mat-icon>
      <div mat-line><a [routerLink]="'./content/film'">{{'فیلم'}}</a></div>
    </mat-list-item>
  
    
    <mat-divider></mat-divider>
    <div mat-subheader> <mat-icon>supervised_user_circle</mat-icon> کاربران  </div>
    
  
  
  
    <mat-list-item>
      <mat-icon mat-list-icon>import_contacts</mat-icon>
      <div mat-line><a [routerLink]="'../access/signup'">{{'ثبت نام'}}</a></div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>input</mat-icon>
      <div mat-line>{{'ورود'}}</div>
    </mat-list-item>
  </mat-list> 